body{
	background-color: #000000;
}
.container{
	width:80vw;
	min-width:1000px;
	margin:auto;
	background-color: white;
	min-height:90vh;
}
h1{
	background-color: #008080;
	color:white;
	padding:2px 20px;
	font-weight:500;
}
.row{
	display: flex;
	min-height:85vh;
}
.left{
	border-right:1px solid #b3b3b3;
	width:40vw;
	min-width:400px;
	display: flex;
	flex-direction: column;
}
.navig{
	border-bottom:1px solid #b3b3b3;
	padding:10px 10px 20px 10px;
}
#list_div{
	background-color: #F5F5F5;
	height:100%;
}
ul{
	list-style: none;
	padding-left: 0;
	margin:0px;
}
li{
	border-bottom:1px solid #b3b3b3;
	padding:0px 10px;
	margin:0px;
}
li h3{
	font-size:20px;
	font-weight:600;
	margin-bottom:-3px;
}
.right{
	width:60vw;
	min-width:600px;
}

#portal, #response_portal{
	width:80%;
	margin:auto;
}

#response_portal h3{
	color:#595959;
}

#question_head h3{
	color:black;
}
#question_head p{
	color:#404040;
}

h2{
	font-weight: 700;
	letter-spacing: 1px;
	font-size:32px;
}

h4{
	font-weight: 400;
}

input[type=text],textarea{
	padding:7px;
	border:1px solid #b3b3b3;
	font-size:15px;
}

#subject{
	width:50%;
}
#question{
	margin:20px 0;
	width:97.5%;
}

button{
	background-color:#0069D9;
	border:1px solid #0069D9;
	border-radius:5px;
	padding:5px 15px;
	font-size:15px;
	color:white;
}

#submit_ques, #resolve, #submit_res{
	float: right;
	margin-bottom: 20px;
}

#newQues{
	margin-right: 20px;
}


.hide{
	display:none;
}
.show{
	display:block;
}

#question_head
{
	padding:1px 20px;
	background-color: #F5F5F5;
	margin-bottom: 10px;
}

#responses{
	margin-top:50px;
}
#add_responses h2{
	font-size:17px;
	letter-spacing: 0.5px;
}

#name_res{
	width:50%;
}
#comment_res{
	margin:10px 0;
	width:97.5%;
}
#res_list{
	background-color: #F5F5F5;
	padding:0.5px;
}
#res_list li{
	padding:1px 20px;
	color:#404040;
}
#res_list h3{
	font-size:15px;
	font-weight:600;
	color:black;
}